.person {
  background: darkblue;
  color: white;
  border-bottom: 2px solid black;
  padding: 10px;
  display: inline-block;
  margin: 20px;
}

body {
  padding: 10px;
  margin: 10px;
}

.multi-input input {
  display: block;
}
